@font-face {
    font-family: 'Unageo';
    src: url('../fonts/Unageo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;
}

.home-title {
    font-family: "Unageo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6rem;
}

body {
    line-height: 1.5;
    margin: 0;
    background: var(--bg);
    color: #111;
    background-color: #f8f9fa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
}

.card {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    box-shadow: 0 12px 40px rgba(16, 24, 40, 0.12);
    padding: 24px;
}

.home-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.load-btn {
    padding: 12px;
    width: 200px;
    border-radius: 6px;
    border: 2px #33477d solid;
    background: #33477d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.load-btn:hover {
    transform: scale(1.005);
    box-shadow: 0 6px 12px #98a6cd;
}

.load-btn:active {
    background: #182549;
    border: 2px #182549 solid;
    color: white;
    transform: translateY(2px);
}

.erase-btn {
    padding: 12px;
    width: 200px;
    border-radius: 6px;
    border: 2px #a8245f solid;
    background: #a8245f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.erase-btn:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 12px #a8245f4d;
}

.erase-btn:active {
    background: #730f3c;
    border: 2px #730f3c solid;
    color: white;
    transform: translateY(2px);
}

h1, h2, h3, h4 {
    color: #343a40;
}

.db-btn {
    padding: 12px;
    width: 360px;
    border-radius: 6px;
    border: 2px #33477d solid;
    background: #33477d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.db-btn:hover {
    background: #182549;
    border: 2px #182549 solid;
    color: white;
    box-shadow: 0 6px 12px #98a6cd;
}

.db-btn:active {
    background: #182549;
    border: 2px #182549 solid;
    transform: translateY(2px);
    color: white;
}

.success-message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 14px;
    color: #43b180;
    font-weight: 500;
    border: 2px #43b180 solid;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 8px;
}

.success-icon {
    width: 28px;
    height: auto;
}

.search-container {
    margin-top: 10rem;
}

.search-label {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Unageo", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: #343a40;

}

.search-input {
    height: 50px;
    border-radius: 25px;
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding-top: 2px;
    background-color: #33477d;
}

.search-button:hover {
    background-color: #182549 !important;
}

.search-button:active {
    background-color: #33477d !important;
}

.noscuramus {
    color: #343a40;
}
